.edit-profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 0.6rem 1.9rem 0.6rem;
  margin-bottom: 20px;
}
.edit-input {
  max-width: 26.9rem;
  width: 100%;
  display: flex;
  background-color: white;
  opacity: 0.8;
  color: black;
  padding: 1.4rem;
  border-radius: 0.4rem;

  box-shadow: 0 0 0.6rem rgba(255, 255, 255, 1);
}
.edit-input::placeholder {
  color: black;
}
.submit-btn {
  height: 2rem;
  width: 9rem;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #00aada;
  vertical-align: bottom;
  color: white;
  border-radius: 0.5rem;
  border-color: white;
  font-weight: 700;
}
