.profile-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0;
  color: white;
  height: 30rem;
  width: 20rem;
  background: transparent;
  border: solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.listOfEvents {
  display: flex;

  flex-direction: column;

  margin-left: 2rem;
  color: white;

  background-color: #111;
  opacity: 0.9;

  border: solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}

.plus-btn {
  flex-direction: column;
  align-items: end;
  background-color: #144272;
  font-size: 2rem;
  margin: 1rem;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  border-color: white;
  border-radius: 5px;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.add-btn {
  display: flex;
  align-items: end;
  justify-content: end;
}
h1 {
  color: white;
  text-align: center;
}
.user {
  color: white;
  background: transparent;
  border: none;
  font-size: 2rem;
}
.profile-details {
  margin: 0px 0px 12px 40px;
  font-size: 20px;
}
.user-profile {
  text-align: center;
  margin: 60px;
}
.edit-logout-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn {
  height: 2.5rem;
  width: 8rem;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: #00aada;
  color: white;
  border-radius: 8px;
  border-color: white;
  font-weight: 700;
  margin-top: 40px;
  margin-left: 2px;
}
.edit-btn:disabled {
  background-color: grey;
}

hr {
  border-top: 0.1px solid #8c8b8b;
  margin: 10px 30px 10px 30px;
}
.isLoading {
  text-align: center;
}
