.profile-container {
  display: flex;
  padding: 0;
  flex-direction: column;
  margin: 0;
  color: white;
  height: 30rem;
  width: 30rem;
  background: transparent;
  border: solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.listOfEvents {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  color: white;
  width: 100%;
  background-color: #111;
  opacity: 0.9;
  align-items: center;
  border: solid rgba(255, 255, 255, 0.5);
  border-radius: 2rem;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
.profile {
  display: flex;
  flex-direction: row;
  margin: 1rem;
}
.plus-btn {
  flex-direction: column;
  align-items: end;
  background-color: #144272;
  font-size: 2rem;
  margin: 1rem;
  color: white;
  border-color: white;
  backdrop-filter: blur(10rem);
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.5);
}
.add-btn {
  display: flex;
  align-items: end;
  justify-content: end;
}
h1 {
  color: white;
  text-align: center;
}
.user {
  color: white;
  background: transparent;
  border: none;
  font-size: 2rem;
}
