.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-right: 40rem;
  margin-left: 40rem;
  margin-top: 3rem;
  background: transparent;
  border: solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  backdrop-filter: blur(20px);
  box-shadow: 1rem rgba(0, 0, 0, 0.5);
}

.signup-form .form-button {
  width: 100%;
  padding: 1rem;
}
.form-button h2 {
  font-size: 1rem;
  color: #162938;
  text-align: center;
}
.input-box {
  position: relative;
  width: 100%;
  height: 100%;
  border-bottom: solid #162938;
  margin: 1rem;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  padding: 0 1rem 0 1rem;
}
input::placeholder {
  font-size: 1rem;
  color: #162938;
}

.btn {
  padding: 10px 130px 10px 130px;
  text-align: center;
  margin-top: 1rem;
}
label {
  color: red;
  padding: 1rem;
}
